body {
    font-family: Karla, sans-serif;
    color: #484848;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    background-color: #264653;
    height: 80px;
}

#logo {
    height: 80px;
}

nav {
    display: inline-block;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}

nav a, nav a:visited {
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    width: 900px;
    margin: auto;
}

section {
    padding: 16px;
    border: 1px solid #cccccc;  
    margin-bottom: 32px;
}

section img {
    width: 600px;
}

h1 {
    font-size: 56px;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

section p {
    font-size: 20px;
}

#bio {
    background-color: #264653;
    color: white;
}

#contactInfo {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.contactItem {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}

.qrCode {
    height: 200px;
    width: auto;
}

.floatRight {
    float: right;
}

.target {
    height: 100px;
    width: auto;
}

.floatLeft {
    float: left;
}

.scanable {
    width: 250px;
}